<!-- Header-->
<section>
    <%= user.escape('userName') || user.escape('email') %>
</section>

<section>
    Age: <%= user.escape('age') %>
    Location: <%= user.escape('location') %>
    About Me: <%= user.escape('aboutMe') %>
</section>

<section>
   <h2>User Recipes</h2>
    <ul>
        <% _.each(user.recipes, function(recipe) { %>
        <li><div><a href='#/recipes/<%= recipe.id %>'><%= recipe.escape('name') %></a></div></li>
        <% });%>
    </ul>
</section>

<section>
    <h2>Recent Activity</h2>

    <h3>Recently Annotated Recipes</h3>
    <ul>
        <% _.each(user.annotations, function(annotation) { %>
            <li><div><a href='#/recipes/<%= annotation.recipe.id %>'><%= annotation.recipe.name %></a></div></li>
        <% });%>
    </ul>

    <h3>Most recent comments</h3>
    <ul>
        <% _.each(user.suggestions, function(suggestion) { %>
            <li><a href='#/recipes/<%= suggestion. %>'><%= annotation.recipe.name %></a></li>
        <% });%>
    </ul>
</section>

