<!-- Header-->
<section>
    <%= user.escape('userName') || user.escape('email') %>
</section>

<section>
    Age: <%= user.escape('age') %>
    Location: <%= user.escape('location') %>
    About Me: <%= user.escape('aboutMe') %>
</section>

<section>
   <h2>User Recipes</h2>
    <ul>
        <% user.recipes().forEach(function(recipe) { %>
            <li><div><a href='#/recipes/<%= recipe.id %>'><%= recipe.escape("name") %></a></div></li>
        <% });%>
    </ul>
</section>

<section>
    <h2>Recent Activity</h2>

    <h3>Recently Annotated Recipes</h3>
    <ul>
        <% user.annotations().forEach(function(annotation) { %>
            <li><div><a href='#/recipes/<%= annotation.escape("recipe_id") %>'><%= annotation.escape("recipe_name") %></a></div></li>
        <% });%>
    </ul>

    <h3>Most recent comments</h3>
    <ul>
        <% user.suggestions().forEach(function(comment) { %>
            <li><a href='#/recipes/<%= comment.escape("recipe_id") %>'><%= comment.escape("recipe_name") %></a></li>
        <% });%>
    </ul>
</section>

