
<div class='jumbotron'>
  <div class='row'>
    <h1 class='text-center'>Chef Genius<br><small>A Rap Genius Clone</small></h1>
  </div>

  <div class='row button-row'>
    <div class='col col-xs-4'>
      <%= button_to "Sign In", {}, class: "landing-button reg"%>
    </div>

    <div class='col col-xs-4'>
      <%= button_to "Sign In As Guest", {controller: 'devise/sessions', action: 'create', user: { email: "test@test.com", password: "password"} }, { form_class: "landing-button guest" }  %>
    </div>

    <div class='col col-xs-4'>
      <%= button_to "Sign In With Facebook",{}, form_class: "landing-button fb" %>
    </div>
  </div>


  <div class='row'>
    <div class='col col-xs-6 col-xs-offset-3 hidden signin'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal"}) do |f| %>
        
        <div class='form-group'>
          <%= f.label :email, class: "control-label col-xs-2" %>
          <div class='col-xs-10'>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>
        

        <div class='form-group'>
          <%= f.label :password, class: 'control-label col-xs-2' %>
          <div class='col-xs-10'>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

      <!--   <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%> -->

        <div class='form-group'>
          <div class='col-xs-offset-2 col-xs-4'>
            <%= f.submit "Sign in", class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
      <div class='col-xs-offset-2'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<style>

.button-row {
  margin-top: 50px;
}

  body {
    background: url("http://rencentermarin.org/wp-content/uploads/2012/09/cooking-classes.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .jumbotron {
    margin-top: 50px;
    background-color: white;
    min-height: 500px;
    border-radius: 40px !important;
  }
</style>

