
<div class='jumbotron landing-page'>
  <div class='row'>
    <h1 class='text-center'>Chef Genius<br><small>A Rap Genius Clone</small></h1>
  </div>

  <div class='row button-row'>
    <div class='col col-xs-4'>
      <%= button_to "Sign In", {}, class: "landing-button reg recipe-button"%>
    </div>

    <div class='col col-xs-4'>
      <%= button_to "Sign In As Guest", {controller: 'devise/sessions', action: 'create', user: { email: "test@test.com", password: "password"} }, { class: "recipe-button landing-button guest" }  %>
    </div>

    <div class='col col-xs-4'>
      <%= button_to "Sign In With Facebook",{}, class: "recipe-button landing-button fb" %>
    </div>
  </div>


  <div class='row'>
    <div class='col col-xs-6 col-xs-offset-3 signin'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal"}) do |f| %>
        
        <div class='form-group'>
          <%= f.label :email, class: "control-label col-xs-2" %>
          <div class='col-xs-10'>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>
        

        <div class='form-group'>
          <%= f.label :password, class: 'control-label col-xs-2' %>
          <div class='col-xs-10'>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>

      <!--   <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%> -->

        <div class='form-group'>
          <div class='col-xs-offset-2 col-xs-4'>
            <%= f.submit "Sign in", class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
      <div class='col-xs-offset-2'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<style>

.overall-container {
  display: none;
  border-radius: 10px;
  border: 0;
  position: relative;
  bottom: 10px;
}


</style>

<script>
  $(function() {
    $('.overall-container').delay(800).fadeIn('slow');
  })

  $('.landing-button').hover(
    function() {
      $(this).css("top", "-7px");
    },
    function() {
      $(this).css("top", "0");
    }
  )
</script>