<h1 class='topmost'><span class='cookie-font'><%= description %> Recipes</span></h1>

<% if (recipes.models.length > 0) { %>
<div class='row recipe-section'>
  <div class='list-section col-xs-10'>
    <ul class='recipe-list'>
    <% recipes.each( function(recipe) { %>
      <li>
        <a href='#/recipes/<%= recipe.id %>'>
          <span class='recipe-index-name'><%= recipe.escape('name') %></span>
        </a>
        <% if (ChefGenius.currentUser.email === recipe.escape('authorEmail') ) { %>
            <small> by you!</small> <span class='badge badge-warning'>Editable</span>
        <% } else { %>
          <small>by <%= recipe.escape('authorEmail') %></small>
        <% } %>
        <span class='badge badge-info num-anns'><%= recipe.escape('numAnnotations') %> Annotations </span>
      </li>
    <% }) %>
    </ul>
  </div>
</div>
<% } %>

<div class="modal fade" id='instructions-modal'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Welcome to the Chef Genius guest tutorial!</h4>
      </div>

      <div class="modal-body">
        <div class='instructions'>
          <h4>Feature guide:</h4>
          <ul>
            <li>Annotating Text: Click and drag on any text on a recipe's note, steps, or ingredient to annotate it.
              <br>
              <button type="button" id='annotation-popover' class="btn btn-default example-popover" data-toggle="popover" data-placement='right' data-html='true' data-img=
              '/images/tutorial_scaled.gif'>
                Hover to see
              </button>
            </li>
            <li>
              Styling Annotations: Use markdown to add styling to annotations, and add images and links just by pasting the URL.
              <br>
              <button type="button" id='edit-popover' class="btn btn-default example-popover" data-toggle="popover" data-placement='right' data-html='true' data-img=
              '/images/tutorial_scaled.gif'>
                Hover to see
              </button>
            </li>
            <li>Editing Recipes: Click the 'Edit' button to toggle editing. You can only edit your own recipes (look for the 'editable' badge).
              <br>
              <button type="button" id='edit-popover' class="btn btn-default example-popover" data-toggle="popover" data-placement='right' data-html='true' data-img=
              '/images/tutorial_scaled.gif'>
                Hover to see
              </button>
            </li>
            <li>And a few other things:
              <ul>
                <li>You can add comments below annotations that others have submitted</li>
                <li>You can submit new recipes. Click the add button on this page.</li>
              </ul>
          </ul>
          <br>
          <h4>To get started, click on any recipe's title to check it out, or create your own.</h4>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h3><a href='#/recipes/new'>Add a new Recipe</a></h3>

<style>
  .overall-container {
    height: 80%;
  }

  body, html {
    height: 100%;
  }

  .tutorial-image {
    width: 350px;
    height: 288px;
    display: block;
    margin: auto;
    vertical-align: middle;
  }

  .popover {
    z-index: 9999999;
    min-height: 315px;
    min-width: 400px;
    position: fixed;
  }
  .popover-title {
    z-index: 999999999;
  }

  .modal-body{overflow:visible;}

</style>
 
<script>
$('.example-popover').popover({
  html: true,
  trigger: 'hover',
  title: "Annotation Guide",
  content: function(){return '<img src="'+$(this).data('img') + '" />';}
});

$(function() {
  if (ChefGenius.firstTimeVisitor === true) {
    $('#instructions-modal').modal();
    ChefGenius.firstTimeVisitor = false;
  }
})
</script>