<h1 class='topmost'><span class='cookie-font'><%= description %> Recipes</span></h1>

<% if (recipes.models.length > 0) { %>
<div class='row recipe-section'>
  <div class='list-section col-xs-10'>
    <ul class='recipe-list'>
    <% recipes.each( function(recipe) { %>
      <li>
        <a href='#/recipes/<%= recipe.id %>'>
          <span class='recipe-index-name'><%= recipe.escape('name') %></span>
        </a>
        <% if (ChefGenius.currentUser.email === recipe.escape('authorEmail') ) { %>
            <small> by you!</small> <span class='badge badge-warning'>Editable</span>
        <% } else { %>
          <small>by <%= recipe.escape('authorEmail') %></small>
        <% } %>
        <span class='badge badge-info num-anns'><%= recipe.escape('numAnnotations') %> Annotations </span>
      </li>
    <% }) %>
    </ul>
  </div>
</div>
<% } %>

<div class="modal fade" id='instructions-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Welcome to the Chef Genius!</h4>
      </div>

      <div class="modal-body">
        <div class='instructions'>
          <h4 id='guide-title'>A visual features guide for first-time guests:</h4>

          <div id="carousel-tutorial" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- <ol class="carousel-indicators">
              <li data-target="#carousel-tutorial" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-tutorial" data-slide-to="1"></li>
              <li data-target="#carousel-tutorial" data-slide-to="2"></li>
            </ol>
 -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="images/annotating_text_tutorial.gif" alt="Click and drag to annotate text.">
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img src="images/formatting_tutorial.gif" alt="Click and drag to annotate text.">
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item">
                <img src="images/editing_tutorial.gif" alt="Click and drag to annotate text.">
                <div class="carousel-caption">
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-tutorial" data-slide="prev">
             <i class="fa fa-backward fa-2x"></i>
            </a>
            <a class="right carousel-control" href="#carousel-tutorial" data-slide="next">
              <i class="fa fa-forward fa-2x"></i>
            </a>
          </div>

          <!-- 
          <h3>Annotating Text</h3>
          <img src='images/tutorial_scaled.gif'> -->
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h3><a href='#/recipes/new'>Add a new Recipe</a></h3>

<style>
.overall-container {
  height: 80%;
}

body, html {
  height: 100%;
}

.tutorial-image {
  width: 350px;
  height: 288px;
  display: block;
  margin: auto;
  vertical-align: middle;
}

.modal-body{overflow:visible;}

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.glyphicon {
  color: darkslateblue;
}

.fa {

  margin-top: 250px;
  color: black;
}

</style>
 
<script>
$('#carousel-tutorial').carousel({
  interval: false
})
$('.example-popover').popover({
  html: true,
  trigger: 'hover',
  title: "Annotation Guide",
  content: function(){return '<img src="'+$(this).data('img') + '" />';}
});

$(function() {
  if (ChefGenius.firstTimeVisitor === true) {
    $('#instructions-modal').modal();
    ChefGenius.firstTimeVisitor = false;
  }
})
</script>