<h1 class='topmost'><span class='cookie-font'><%= description %> Recipes</span></h1>

<% if (recipes.models.length > 0) { %>
<div class='row recipe-section'>
  <div class='list-section col-xs-8'>
    <ul class='recipe-list'>
    <% recipes.each( function(recipe) { %>
      <li>
        <a href='#/recipes/<%= recipe.id %>'>
          <%= recipe.escape('name') %>
        </a>
        <% if (ChefGenius.currentUser.email === recipe.escape('authorEmail') ) { %>
            <small> by you!</small> <span class='badge badge-warning'>Editable</span>
        <% } else { %>
          <small>by <%= recipe.escape('authorEmail') %></small>
        <% } %>
        <span class='badge badge-info num-anns'><%= recipe.escape('numAnnotations') %> Annotations </span>
      </li>
    <% }) %>
    </ul>
  </div>
</div>
<% } %>

<a href='#/recipes/new'>Add a new Recipe</a>

<style>
  .overall-container {
    height: 80%;
  }

  body, html {
    height: 100%;
  }

  .num-anns {
    float:right;
  }

  .badge-warning {
    background-color: #f89406;
  }

  .badge-warning:hover {
    background-color: #c67605;
  }

  .badge-info {
    background-color: #3a87ad;
  }
  .badge-info:hover {
    background-color: #2d6987;
  }

  .recipe-list {
    list-style: none;
  }

</style>