<!DOCTYPE html>
<html>
<head>
  <title>ChefGenius</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
 <!--  <% if params[:controller] == "devise/sessions" %>
    <%= javascript_include_tag "sign_in" %>
  <% end %> -->
  <%= csrf_meta_tags %>
</head>
<body>

<div class='col-xs-offset-1 col-xs-10 overall-container'>
  <div class='container-fluid'>
    <%= render "layouts/navbar" %>

    <!-- <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p> -->

    <%= yield %>
  </div>
</div>

</body>
</html>
